<div class="row">
  {{#bs-button
    action=(action 'enterZip' 1)}}
    1
  {{/bs-button}}
  {{#bs-button
    action=(action 'enterZip' 2)}}
    2
  {{/bs-button}}
  {{#bs-button
    action=(action 'enterZip' 2)}}
    3
  {{/bs-button}}
</div>
<div class="row">
  {{#bs-button
    action=(action 'enterZip' 4)}}
    4
  {{/bs-button}}
  {{#bs-button
    action=(action 'enterZip' 5)}}
    5
  {{/bs-button}}
  {{#bs-button
    action=(action 'enterZip' 6)}}
    6
  {{/bs-button}}
</div>
<div class="row">
  {{#bs-button
    action=(action 'enterZip' 7)}}
    7
  {{/bs-button}}
  {{#bs-button
    action=(action 'enterZip' 8)}}
    8
  {{/bs-button}}
  {{#bs-button
    action=(action 'enterZip' 9)}}
    9
  {{/bs-button}}
</div>

