<div class="row">
  {{#bs-button}}1{{/bs-button}}
  {{#bs-button}}2{{/bs-button}}
  {{#bs-button}}3{{/bs-button}}
</div>
<div class="row">
  {{#bs-button}}4{{/bs-button}}
  {{#bs-button}}5{{/bs-button}}
  {{#bs-button}}6{{/bs-button}}
</div>
<div class="row">
  {{#bs-button}}7{{/bs-button}}
  {{#bs-button}}8{{/bs-button}}
  {{#bs-button}}9{{/bs-button}}
</div>

